<html>
<head>
    <title><%= error %>-FukMovies</title>
    <style>
         .error{
             margin: auto;
         }
    </style>
</head>
<body>
   <div class="error">
         <h2><%= error %></h2>
         Goto <a href="/">HOME</a>
   </div>
</body>